/*Fonts*/



/*Variables*/
:root {
  --basic-black: #000000;
  --basic-blue: #81B3D2;
  --basic-light-grey: #eeeeee;
  --basic-icon-grey: #cacaca;
  --basic-grey: #f2f2f2;
  --basic-white: #ffffff;
  --basic-brown: #766357;
  --basic-dark: #333333;
  --text-rating: #666666;
  --border-color: #e5e5e5;
 /*button*/ 
  --hover-brown: #604e43;  
  --focus-brown: #503e33;
  --hover-blue: #669ec0;
  --focus-blue: #5496bd;
  --filter-button: #ababab;
  --checkbox-block: #6a6a6a;
  --icon-calendar: #a9a9a9;
  --icon-website: #bdbbbc; 
  --input-hover: #ebebeb;
}

/*Global*/
.page-body {
  font-family: "PT Sans", "Arial", sans-serif;
  color: var(--basic-dark);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  background-color: var(--basic-white);
  position: relative;
}


.list {
  list-style: none;
  padding: 0;
  margin: 0;
}


.nav-item {
  text-decoration: none;
  font-weight: bold;
  color: var(--basic-black);
  line-height: 26px;
  font-weight: bold;
}

.nav-item:hover {
  color: var(--basic-blue);
}


.nav-item:focus {
  color: rgba(0, 0, 0, 0.3);
}

.nav-item-current {
  color: var(--basic-brown);
}

.nav-item-current:hover {
  color: var(--basic-brown);
}

/*Main-index*/

.background-index {
  background: var(--basic-blue) url("../img/index/backgroundindex.jpg");
  min-height: 509px;
  position: relative;
}

.background-index::after {
  content: "";
  display: block;
  position: absolute;
  width: 1200px;
  height: 57px;
  left: 0;
  bottom: 0;
  background: url(../img/index/white-wrap.svg);
}

.title-primary, .found {
  text-decoration: none;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}


.title-primary-section {
  padding-bottom: 55px;
  padding-top: 40px;
  margin: 0 auto;
  width: 530px;
  text-align: center;  
}

.title-primary {
  margin: 0;
  margin-bottom: 47px;
}

.title-primary-section p {
  margin: 0;
}

/*Advantages*/

.advantages-list {
  text-align: center;
}


.feature-item {
  align-items: center;
  text-align: center;
  color: var(--basic-dark);
  padding-bottom: 84px;
  padding-top: 160px;
  padding-right: 45px;
  padding-left: 45px;

}

.feature-item .feature-title{
  margin: 0;
  margin-bottom: 25px;
}

.advantages-item-gray .feature-title {
  margin: 0;
  margin-bottom: 26px;
}

.features-list {
  background-color: var(--basic-white);
}

.advantages-item-gray {
  background-color: var(--basic-light-grey);
  padding-bottom: 55px;
  padding-top: 45px;
  padding-right: 45px;
  padding-left: 45px;
}

.feature-item-house {
  background-image: url("../img/index/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 50% 22%;
}

.feature-item-food {
  background-image: url("../img/index/icon-2.svg");
  background-position: 50% 22%;
  background-repeat: no-repeat;

}

.feature-item-gift {
  background-image: url("../img/index/icon-3.svg");
  background-position: 50% 22%;
  background-repeat: no-repeat;

}


.feature-title {
  font-size: 21px;
  color: var(--basic-black);
}

.advantages-item-picture {
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.advantages-item-picture-title {
  padding-top: 47px;
  padding-bottom: 48px;
  padding-right: 48px;
  padding-left: 48px;
}

.advantages-item-picture-title h3{
  margin: 0;
  margin-bottom: 27px;
  font-size: 21px
}


.advantages-item-picture-title span{
  margin: 0;
  margin-bottom: 25px;
}


.img-item {
  display:block;
}
/*Form*/


.hotel-search-button {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  background-color: var(--basic-brown);
  color: var(--basic-white);
  padding-top: 30px;
  padding-bottom: 30px;
  width: 568px;
  text-decoration: none;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.hotel-search-button:hover {
  background-color: var(--hover-brown);
}


.hotel-search-button:focus {
  background-color: var(--focus-brown);
  color: rgba(255, 255, 255, 0.3);

}


.form-title {
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-black);
  margin: 0;
  margin-bottom: 30px;
  padding-right: 10px;
}

.form-text {
  line-height: 24px;
  margin: 0;
  margin-bottom: 43px;
}

.index-form {
  padding-top: 52px;
  display: grid;
  text-align: center;
  position: relative;
  
}

.form {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 55px;
  background-color: var(--basic-white);
  width: 458px;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.15);
}

.date {
  display: flex;
  align-items: center;
  margin-bottom: 28px;
  font-weight: bold;
  position: relative;

}


.date input {
  background-color: var(--basic-grey);
  border: 2px solid var(--basic-grey);
  font-weight: bold;
  font-size: 14px;
  line-height: 26px; 
  flex-grow: 1;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;

}

.date input:hover {
  background-color: var(--input-hover);
  border-color: var(--input-hover);
}

.date input:focus {
  background-color: var(--basic-white);
  outline: none;
  border: 2px solid var(--border-color);
}

.date button {
  position: absolute;
  border: none;
  right: 3px;
  background: none;
}

.date button:hover path {
  fill: var(--basic-black);
}

.date button:focus path{
  fill: var(--basic-blue);
}

.date button:focus {
  outline: none;
}
.arrival-date {
  margin-right: 24px;
  white-space: nowrap;
}

.departure-date {
  margin-right: 20px;
}

.form-adults-children {
  display: flex;
  justify-content: space-between;
  padding-bottom: 54px;
}

.form-adults {
  display: flex;
  align-items: center;
  margin-right: 53px;
  font-weight: bold;
}

.form-children {
  display: flex;
  align-items: center;
  font-weight: bold;

}

.adults-number {
  display: flex;
  align-items: stretch;
  margin-left: 40px;
  height: 38px;
}


.children-number {
  display: flex;
  align-items: stretch;
  margin-left: 26px;
  height: 38px;
}

.number-people {
  outline: none;
  border: 2px solid var(--basic-grey);
  background-color: var(--basic-grey);
  width: 37px;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  position: relative;
  text-align: center;
  padding: 0;
}

.number-people-input:hover {
  background-color: var(--input-hover);
  border-color: var(--input-hover);
}

.number-people-input:focus {
  background-color: var(--basic-white);
  border-color: var(--border-color);
}

.number-people svg {
  fill: var(--icon-calendar);
}
.number-people:hover svg {
  fill: var(--basic-black);
}

.number-people:focus svg {
  fill: var(--basic-blue);
}


.button-minus, .button-plus {
  outline: none;
}

.button-minus svg {
  position: absolute;
  top: 17px;
  left: 12px;
}

.button-plus svg {
  position: absolute;
  top: 13px;
  right: 11px;
}

.button-form {
  font-size: 21px;
  line-height: 26px;
  border: none;
  color: var(--basic-white);
  font-weight: bold;
  text-transform: uppercase;
  background-color: var(--basic-blue);
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 196px;
  padding-left: 196px;

}


.button-form:hover {
  background-color: var(--hover-blue);
}

.button-form:focus {
  outline: none;
  background-color: var(--focus-blue);
  color: rgba(255, 255, 255, 0.3);
}

.map img {
  display: block;
}


/*Main-catalog*/

.background-catalog {
  background: var(--basic-blue) url(../img/catalog/backgroundcatalog.jpg);
}

.legend {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 24px;
}

.checkbox-form {
  display: flex;
  color: var(--basic-white);
  padding-top: 26px;

}
.found {
  font-size: 21px;
  line-height: 26px;
  padding-bottom: 31px;
  padding-top: 29px;
  margin-right: 14px;
 }

.sorting {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  text-decoration: none;
  color: var(--basic-black);
  margin-top: 31px;
  margin-bottom: 37px;
  margin-left: 32px;
 }

.sorting-item {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted var(--basic-blue);
 }

.sorting-item:hover {
  color: var(--basic-blue);
  border-bottom: 1px dotted var(--basic-blue);
 }

.sorting-item:focus {
  color: var(--basic-black);
  border-bottom: none;
 }

 .sorting-item-current {
   color: var(--basic-blue);
   border-bottom: none;
 }

 .sorting-item-current:hover {
   border-bottom: none;
 }

.fieldset {
  border: none;
  margin: 0;
  padding: 0;

 }

.fieldset a {
  text-decoration: none;
  color: var(--basic-white);
 }

 .range-filter {
   width: 318px;
 }


 .flex-from-to .legend {
   padding: 0;
   margin: 0;
   margin-bottom: 11px;

 }

 .price-controls {
   display: flex;
   justify-content: space-between;
   border: 2px solid #FFFFFF;
   border-radius: 2px;
   padding-top: 6px;
   padding-bottom: 6px;
   padding-left: 65px;
   padding-right: 28px;
   position: relative;
 }

 .price-min input{
   width: 50px;
   background: none;
   border: none;
   color: var(--basic-white);
 }

 .price-min::after {
   content: ""; 
  position: absolute;
  width: 2px;
  height: 22px;
  left: 50%;
  top: 50%;
  transform: translateY(-50%);
  background: #FFFFFF;
  border-radius: 2px;
 }

 .price-max input{
  width: 50px;
  background: none;
  border: none;
  color: var(--basic-white);
 }

 .range-controls .scale {
   background-color: rgba(255, 255, 255, 0.3);
   height: 2px;
 }

 .range-controls {
   margin-top: 20px;
   position: relative;
 }

 .range-controls .bar {
   background-color: var(--basic-white);
   height: 2px;
   width: 85%;
 }

 .range-controls .toggle {
  position: absolute;
  top: -10px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--filter-button);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--filter-button);
  cursor: pointer;
 }

.range-controls .toggle-max {
   left: 250px;
 }

.flex-from-to p {
  width: 133px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  margin-left: 85px;
  margin-top: 33px;
  
}

.button-reservation-details {
  font-weight: bold;
  color: var(--basic-white);
  text-decoration: none;
  padding-right: 18px;
  padding-left: 17px;
  padding-top: 4px;
  padding-bottom: 4px;
 }

.button-reservation {
  background-color: var(--basic-brown);
 }

.button-reservation:hover {
  background-color: var(--hover-brown);
 }

.n-reservation:focus {
  background-color: var(--focus-brown);
  color: rgba(255, 255, 255, 0.3); 
 }

.button-details {
  background-color: var(--basic-blue);
 }

.button-details:hover {
  background-color: var(--hover-blue);
 }

.button-details:focus {
  background-color: var(--focus-blue);
  color: rgba(255, 255, 255, 0.3); 
 }

.rating-title {
  color: var(--text-rating);
  background-color: var(--basic-grey);
  margin: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 15px;
  padding-right: 14px;
 }

 .hotel-names {
  font-size: 21px;
  line-height: 26px;
  margin: 0;


 }

.hotel-names-link:hover {
  color: var(--basic-blue);

 }

.hotel-names-link:focus {
  color: rgba(0, 0, 0, 0.3);
 }

 .hotel-names-link {
   text-decoration: none;
   color: var(--basic-black);
   display: block;
 }

.stars {
  background-image: url(../img/catalog/stars.svg);
  height: 17px;
  background-repeat: space;
  margin-bottom: 47px;
  margin-top: 5px;
}

.stars-1 {
  width: 19px;
}

.stars-2 {
  width: 42px;
}

.stars-3 {
  width: 66px;
}

.stars-4 {
  width: 90px;
}

.checkbox label {
  position: relative;
}

.input-checkbox + label::before {
  content: url(../img/catalog/checkbox-off.svg);
  position: absolute;
  left: -39px;
}

.input-checkbox:checked + label::after {
  content: url(../img/catalog/checkbox-on.svg);
  position: absolute;
  left: -39px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/*Footer*/


.footer {
  background-color: rgba(255, 255, 255, 0.9);
}

.footer-index {
  width: 1200px;
  position: absolute;
  bottom: 0;
  left: 0;
 
}

.social-link {
  background-color: var(--basic-blue);
  height: 48px;
  width: 46px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.social-link:hover {
  background-color: var(--hover-blue);
}

.social-link:focus path {
  fill: rgba(255, 255, 255, 0.3);
}

.social-link:focus {
  background-color: var(--focus-blue);
}

.social-list li{
  margin-left: 6px;
  margin-bottom: 6px;
}

.contacts {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 33px;
  padding-left: 110px;
  min-width: 251px;
}


.contacts a {
  text-decoration: none;
  color: var(--basic-black);
}

.contacts p {
  margin: 0;
  margin-top: 10px;
}

.website p{
  padding-right: 8px;
  white-space: nowrap;
}

.footer-logo:hover path{
  fill: var(--basic-blue);
}

.footer-logo:focus path{
  fill: var(--icon-website);
}


/*Grid and flex*/

.page {
  height: 100%;
}



.container {
  min-height: 100%; 
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  width: 1200px;
  margin: 0 auto;
  position: relative;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
}

.features-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.advantages-gray-wrapper {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  
}


.footer {
display: flex;
justify-content: space-between;
}


.advantages-item-picture-1 {
  display: grid;
  grid-template-columns: 400px 1fr;
}

.features-list {
  grid-column-start: 1;
  grid-column-end: 3;
}

.advantages-item-picture-2 {
  display: grid;
  height: 256px;
  grid-template-columns: 1fr 400px;
}

.picture-wrapper {
  display: block;
}

.advantages-item p {
  margin:0;
  margin-top: 24px;
}

.checkbox-items li {
  margin-bottom: 25px;
  padding-left: 42px;
}


.checkbox-form {
  display: grid;
  padding-left: 69px;
  padding-right: 72px;
  padding-bottom: 8px;
  grid-template-columns: 140px 140px 1fr;
  column-gap: 115px;
}

.fieldset-from-to {
  display: flex;
  justify-content: flex-end;
}


.sorting-list {
  display: flex;
  padding-left: 72px;
  padding-right: 72px; 
  position: relative;
}

.arrow-down { 
  position: absolute;
  right: 74px;
  top: 6px;
  transform: rotate(180deg);
}

.arrow-up {
  position: absolute;
  right: 96px;
  top: 8px;
}

.arrows:hover path {
  fill: var(--basic-black);
}

.arrows:focus path {
  fill: var(--basic-blue);
}

.sorting-items {
  display: flex;
  flex-wrap: wrap;
  padding-top: 32px;
  padding-bottom: 36px;
  margin-left: 8px;
  width: 500px;
}


.hotel-item {
  display: grid;
  grid-template-columns: 135px 1fr 110px;
  column-gap: 29px;
  padding-right: 72px;
  padding-left: 72px;
  border-bottom: 1px solid var(--border-color);
  padding-top: 23px;
  padding-bottom: 29px;
}

.hotel-item:first-child {
  border-top: 1px solid var(--border-color);

}

.rating {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}


.img-hotel {
  margin: 0;
  padding-top: 6px;
}

.img-hotel img{
  display: block;
}

.flex-reservation-details {
  display: flex;
}

.column-reservation {
  padding-left: 5px;
  width: 142px;

}

.column-reservation p{
  margin-top: 7px;
  margin-bottom: 19px;
}

.column-details p{
  margin-top: 7px;
  margin-bottom: 19px;
}


.website {
  display: flex;
  justify-content: center;
  padding-right: 140px;
  padding-top: 39px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 36px;
  padding-bottom: 30px;
  padding-right: 31px;
}

.background-index {
  display: grid;
  justify-content: center;
  align-items: center;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  padding: 14px 72px 16px 72px;
}

.nav-list li {
  width: 228px;
}

.nav-list li:nth-child(4n + 3) {
  margin-left: auto;
  margin-right: 0;
  text-align: right;
}


.nav-list li:nth-child(4n + 4) {
  text-align: right;
}

.header-nav-bar {
  background-color: var(--basic-white);
}

.header-logo {
  position:absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  z-index: 1;
}

