/*Fonts*/



/*Variables*/
:root {
  --basic-black: #000000;
  --basic-blue: #81B3D2;
  --basic-light-grey: #eeeeee;
  --basic-icon-grey: #cacaca;
  --basic-grey: #f2f2f2;
  --basic-white: #ffffff;
  --basic-brown: #766357;
  --basic-dark: #333333;
  --text-rating: #666666;
 /*button*/ 
  --hover-brown: #604e43;  
  --focus-brown: #503e33;
  --hover-blue: #669ec0;
  --focus-blue: #5496bd;
  --filter-button: #ababab;
  --checkbox-block: #6a6a6a;
  --icon-calendar: #a9a9a9;
  --icon-website: #bdbbbc; 
}

/*Global*/
.page-body {
  font-family: "PT Sans", "Arial", sans-serif;
  color: var(--basic-dark);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  background-color: var(--basic-white);
}


.list {
  list-style: none;
  padding: 0;
  margin: 0;
}


.nav-item {
  text-decoration: none;
  font-weight: bold;
  color: var(--basic-black);
  line-height: 26px;
  font-weight: bold;
}

.nav-item:hover {
  color: var(--basic-blue);
}


.nav-item:focus {
  color: rgba(0, 0, 0, 0.3);
}

.nav-item-current {
  color: var(--basic-brown);
}

.nav-item-current:hover {
  color: var(--basic-brown);
}

/*Main-index*/

.background-index {
  background: var(--basic-blue) url("../img/index/backgroundindex.jpg");
}

.title-primary, .found {
  text-decoration: none;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);

}


/*Advantages*/

.advantages-list {
  text-align: center;
}


.feature-item {
  align-items: center;
  text-align: center;
  color: var(--basic-dark)
}

.feature-item p {
  padding-bottom: 82px;
}

.features-list {
  background-color: var(--basic-white);
}

.advantages-item-gray {
  background-color: var(--basic-light-grey);

}

.feature-item-house {
  background-image: url("../img/index/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 50% 25%;
}

.feature-item-food {
  background-image: url("../img/index/icon-2.svg");
  background-position: 50% 25%;
  background-repeat: no-repeat;
}

.feature-item-gift {
  background-image: url("../img/index/icon-3.svg");
  background-position: 50% 25%;
  background-repeat: no-repeat;
}


.feature-title {
  font-size: 21px;
  color: var(--basic-black);
}

.advantages-item-picture {
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.advantages-item-picture h3 {
  font-size: 21px;
}

.img-item {
  display:block;
}
/*Form*/


.button-form {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  background-color: var(--basic-brown);
  color: var(--basic-white);
  width: 568px;
  height: 86px;
  text-decoration: none;
}

.button-form:hover {
  background-color: var(--hover-brown);
}


.button-form:focus {
  background-color: var(--focus-brown);
  color: rgba(255, 255, 255, 0.3);

}


.form-title {
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-black);
}

.form-text {
  line-height: 24px;
}


/*Main-catalog*/

.background-catalog {
  background: var(--basic-blue) url(../img/catalog/backgroundcatalog.jpg);
}

.legend {
  font-size: 16px;
  font-weight: bold;
}

.checkbox-form {
  display: flex;
  color: var(--basic-white)

}
.found {
  font-size: 21px;
  line-height: 26px;
 }

.sorting {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  text-decoration: none;
  color: var(--basic-black);
 }

.sorting-item {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted var(--basic-blue);
 }

.sorting-item:hover {
  color: var(--basic-blue);
  border-bottom: 1px dotted var(--basic-blue);
 }

.sorting-item:focus {
  color: var(--basic-black);
  border-bottom: none;
 }

 .sorting-item-current {
   color: var(--basic-blue);
   border-bottom: none;
 }

 .sorting-item-current:hover {
   border-bottom: none;
 }

.fieldset {
  border: none;
 }

.fieldset a {
  text-decoration: none;
  color: var(--basic-white);
 }


.button-reservation-details {
  font-weight: bold;
  color: var(--basic-white);
  text-decoration: none;
 }

.button-reservation {
  background-color: var(--basic-brown);
 }

.button-reservation:hover {
  background-color: var(--hover-brown);
 }

.button-reservation:focus {
  background-color: var(--focus-brown);
  color: rgba(255, 255, 255, 0.3); 
 }

.button-details {
  background-color: var(--basic-blue);
 }

.button-details:hover {
  background-color: var(--hover-blue);
 }

.button-details:focus {
  background-color: var(--focus-blue);
  color: rgba(255, 255, 255, 0.3); 
 }

.rating {
  color: var(--text-rating);
  background-color: var(--basic-grey);
 }

 .hotel-names {
  font-size: 21px;
  line-height: 26px;
 }

.hotel-names-link:hover {
  color: var(--basic-blue);
 }

.hotel-names-link:focus {
  color: rgba(0, 0, 0, 0.3);
 }

 .hotel-names-link {
   text-decoration: none;
   color: var(--basic-black);
 }


/*Footer*/


.footer {
  background-color: rgba (255, 255, 255, 0.9)
}


.social-link {
  background-color: var(--basic-blue);
  height: 48px;
  width: 46px;
  display: inline-block;
}

.social-item-twitter {
  background-image: url("../img/twitter.svg");
  background-position: center;
  background-repeat: no-repeat;

}

.social-item-facebook {
  background-image: url("../img/facebook.svg");
  background-position: center;
  background-repeat: no-repeat;

}

.social-item-youtube {
  background-image: url("../img/youtube.svg");
  background-position: center;
  background-repeat: no-repeat;

}

.contacts {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}


.contacts a {
  text-decoration: none;
  color: var(--basic-black);
}

/*Grid*/

.page {
  height: 100%;
}

.header {
  display: grid;
}

.header-nav-bar {
  background-color: var(--basic-white);
}

.nav-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

}

.container {
  min-height: 100%; 
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  width: 1200px;
  margin: 0 auto;
}

.features-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.advantages-gray-wrapper {
  display: grid;
  grid-template-columns: repeat(3,1fr);
}


.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.social-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}


.advantages-item-picture-1 {
  display: grid;
  grid-template-columns: 400px 1fr;
}

.features-list {
  grid-column-start: 1;
  grid-column-end: 3;
}

.advantages-item-picture-2 {
  display: grid;
  height: 256px;
  grid-template-columns: 1fr 400px;
}

.picture-wrapper {
  display: block;
}

.feature-title-padding-1{
  padding-top: 149px;
  padding-bottom: 25px;
}

.feature-title-padding-2 {
  padding-top: 47px;
  padding-bottom: 25px;
}

.advantages-item p {
  padding-top: 23px;
  padding-bottom: 54px;
}